.button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.2rem;
  color: var(--clr-back);
  font-family: var(--font-poppins);
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 700;
  transition: 300ms;
  user-select: none;
  cursor: pointer;

  &:active,
  &:hover {
    transition: 300ms;
  }

  & svg {
    width: 2rem;
    height: 2rem;
  }
}

.primary,
.secondary,
.tertiary {
  border-radius: 1rem;

  &:hover {
    transform: scale(0.9);
  }
}

.primary {
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-primary);

  &:active {
    border-color: var(--clr-primary-light);
    background-color: var(--clr-primary-light);
  }
}

.secondary {
  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-secondary);
  border-radius: 1.5rem;

  &:active {
    background-color: transparent;
  }
}

.tertiary {
  background-color: var(--clr-text);
  border-color: var(--clr-text);
  color: var(--clr-text);

  &:active {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
  }
}

.text {
  background-color: transparent;
  border: none;
  text-decoration: none;

  &:active {
    border: 0.2rem solid var(--clr-primary);
    border-radius: 2rem;
  }
}

.lg {
  height: 64px;
  padding: 0 62px 0 63px;
}

.md {
  height: 40px;
  padding: 0 26px;
}

.sm {
  height: 32px;
  padding: 0 20;
}
