.promo {
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.cta_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  max-width: 396px;
  text-align: center;
}

.img_wrap {
  position: relative;
  width: var(--promo-img-w);
  height: 210px;
}

.img {
  object-fit: cover;
  object-position: center;
}

.btn_cta {
  margin-top: 17px;
  width: 100%;
  max-width: 396px;
}

.statistics {
  width: 100%;
  padding-inline: 16px;
}

.text_capture {
  margin-inline: 16px;
  text-align: center;
}

@media (min-width: 634px) {
  .promo {
    padding: var(--pd-section);
  }
}
