.field {
  width: 100%;
  min-width: 4rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 16px 16px 12px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  background-color: var(--clr-subtitle);
  border: 0.1rem solid var(--clr-text);
  border-radius: 16px;

  &::placeholder {
    color: var(--clr-text);
  }
}

.error {
  border: 0.1rem solid red;
}

.message {
  color: red;
  padding-left: 10px;
  font-size: 14px;
}
